<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
</head>

<body>

    {{> navbar}}

    <div class="about-container">
        <div class="about-card">
            <div class="card-content">
                <h2>Abyan</h2>
                <h2 class="nam-bel">Luthfi</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque tenetur atque sint labore iste nemo
                    hic, optio incidunt quidem deleniti soluta laudantium officiis omnis blanditiis expedita doloribus
                    sequi consectetur est, non odit dolorum quam! Atque officiis distinctio cum quasi dignissimos.
                </p>
                <div class="buton"></div>
                <a href="/contac-me"><i class="fa-solid fa-envelope"></i> Contact Me</a>
            </div>
            <img src="../assets/img/Hp.png" alt="">
        </div>
    </div>
</body>

</html>