<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    {{> navbar}}

    <div class="containerCardContac">
        <div class="cardContac">

            <form action="massage" method="post">
                <h4>SARAN DAN MASUKAN</h4>

                <label>Nama</label>
                <input type="text" name="nama" placeholder="Nama">

                <label>Gmail</label>
                <input type="email" name="gmail" placeholder="asdwasd@gmail.com">

                <label>Phone Number</label>
                <input type="number" name="phone" placeholder="081234567890">

                <label>Subject</label>
                <select>
                    <option value="">opsi 1</option>
                    <option value="">opsi 2</option>
                    <option value="">opsi 3</option>
                </select>

                <label>your massage</label>
                <textarea name="send" id="" placeholder="text"></textarea>

                <button type="submit">SEND <i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</body>

</html>