<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    {{> navbar}}


    <div class="form-container">

        <div class="form-card-container">
            <form id="projectForm" class="form-card">

                <h2>Add New Project</h2>

                <input type="text" id="namaP" placeholder="Project Name">
                <textarea id="deskripsiP" placeholder="Description"></textarea>

                <input type="file" id="image" class="img-input">

                <div class="label-project">
                    <label><input type="checkbox" id="nodeJs">Node JS</label>
                    <label><input type="checkbox" id="reactJs">React JS</label>
                    <label><input type="checkbox" id="nextJs">Next JS</label>
                    <label><input type="checkbox" id="typeSc">TypeScript</label>
                </div>

                <button type="submit">Add Project</button>

            </form>
        </div>

        <div class="hasil-container">
            <h2>My Project</h2>
            <input type="text" id="searchProject" class="serch" placeholder="Search Project">
            <div class="hasil-projects" id="projectList">

                <!-- <div class="card-Projects">
                    <img src="" alt="">
                    <h3>NAMA</h3>
                    <div class="des-container">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, aut. Quis, commodi. Quas esse
                            reiciendis itaque tempora illo ea quibusdam tenetur! Delectus, quia! Dolores quae,
                            architecto laborum voluptatum error corrupti</p>
                    </div>
                    <p class="tech">Java Script</p>
                    <div class="button-card-project">
                        <button class="show-button">Show<i class="fa-regular fa-eye"></i></button>
                        <button>Delet</button>
                    </div>
                </div>
                 -->

            </div>
        </div>
    </div>

    <script src="../assets/script/fromUp.js"></script>


</body>

</html>