<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    {{> navbar}}

    <div class="home-container-content">
        <div class="home-content">
            <h1>WELCOME</h1>
            <h1> TO MY WEBSITE</h1>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum totam aspernatur odio tenetur illo esse
                aut soluta, dolorem, dolores, quo exercitationem saepe impedit quae doloribus necessitatibus itaque
                nobis. Velit facilis esse voluptatem illum assumenda delectus.</P>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
        </div>
        <div class="home-card">
            <img src="../assets/img/Hp.png" alt="">
            <h2>Abyan Luthfi</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam facere obcaecati repellat asperiores
                magni quasi expedita dolores voluptatum deserunt nemo voluptates quibusdam cumque harum, quis dicta
                culpa assumenda odio saepe?
            </p>
            <p><i class="fa-solid fa-phone"></i>+628XXXXXXXXXX</p>
        </div>
    </div>
</body>

</html>