<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/assets/css/style.css">
</head>
<body>
    <div class="container-register">
        <h1>Register</h1>

        <form action="/register" method="POST">
            <div>
                <input type="text" name="name" placeholder="Your Name" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="qwerty@gmail.com" required>
            </div>
            <div>
                <input type="paswword" name="password" placeholder="passeord" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>