<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="container-Show_projects">
        <a href="/form-projects" class="back-show">BACK</a>
        <div class="card-show">

            {{#if project.image}}
            <img src="/upload/{{project.image}}" style="width: 200px;" />
            {{/if}}
            <h3>{{project.title}}</h3>

            <p>{{project.description}}</p>

            <p>{{project.select}}</p>

        </div>

    </div>

</body>

</html>